<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiwimi</title>
</head>

<body bgcolor="#841912" style="margin-top: 0; margin-bottom: 20px" style="max-width: 650px">
    <!-- Main table -->
    <table style="max-width: 650px" border="0" align="center" cellspacing="0" cellpadding="0" bgcolor="white"
        width="650" background-color="#FFF">
        <tr>
            <td>
                <!-- Child table -->
                <table border="0" cellspacing="0" cellpadding="0"
                    style="font-family: sans-serif; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px">
                    <tr>
                        <td>
                            <img src="https://kiwimi.oss-ap-southeast-1.aliyuncs.com/emailTemplates/images/studyguide.png"
                                height="auto" width="650px" style="display: block; margin: 0; max-width: 650px" />
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <img src="https://kiwimi.oss-ap-southeast-1.aliyuncs.com/emailTemplates/images/Group.png"
                                height="100px" style="display: block; margin: auto; padding: 25px 0" />
                        </td>
                    </tr> -->
                    <tr>
                        <td style="text-align: center; padding-top: 20px">
                            <p style="
                                        margin: 0px 20px;
                                        padding-bottom: 20px;
                                      
                                        color: #5e140f;
                                     
                                        font-size: 14px;
                                        text-align: left;
                                        line-height: 25px;
                                       
                                    ">
                                Hi karan,<br />
                                Welcome to become a member of KiWiMi! <br />
                                We would like to send you instructing for sign in and how to study on the KiWi Academy
                                System accroding to the attched link.<br />
                                <a style="text-align: left; color: #841912 !important; font-weight: 520; margin-top: 20px"
                                    href="https://kiwimi.vn/vi/academy-usage-guide">https://kiwimi.vn/vi/academy-usage-guide</a><br />
                                If you need support, please contact our support team at: <a
                                    style="color: #841912 !important;font-weight: 520;" ;
                                    href="mailto:kiwimicoach@gmail.com">kiwimicoach@gmail.com</a><br /><br />
                                <span style="font-weight: 550; margin-top: 20px;">Thank you for choosing
                                    KiWiMi!</span><br />
                                <span style="font-weight: 550;">Team KiWiMi</span>





                            </p>


                            <a href="https://edtech-academy.kiwimi.vn/vi" target="_blank"
                                style="padding: 11.5px 40px; background: linear-gradient(91deg, #ffc501 4.3%, #ff7f1b 105.87%); border-radius: 70px; border: none; font-weight: 500; color: #5e140f ; font-size: 16px; text-decoration: none;"
                                onmouseover="this.style.background='rgba(132, 25, 18, 1)'; this.style.border='#ffc501'; this.style.color='#ffc501';"
                                onmouseout="this.style.opacity='1'; this.style.background='linear-gradient(91deg, #ffc501 4.3%, #ff7f1b 105.87%)' ;this.style.color='#5e140f';">
                                Academy
                            </a>


                        </td>
                    </tr>


                    <tr class="hiddenMobile">
                        <td height="60"></td>
                    </tr>
                    <tr>

                    </tr>

                    <tr>
                        <td style="text-align: center">
                            <p
                                style="margin: 0 auto 25px 0; background-color: #841912; color: #841912; height: 1px; width: 650px">
                            </p>
                        </td>
                    </tr>
                    <!-- footer -->
                    <tr>
                        <td align="center" style="margin-bottom: 15px">
                            <table align=" center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="max-width: 650px">
                                <tr>
                                    <td align="center">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="center" style="padding: 0 5px">
                                                    <a href="https://x.com/Edtech_KiWiMi" style="
                                                                text-decoration: none;
                                                                width: 35px;
                                                                height: 35px;
                                                                background-color: #841912;
                                                                border-radius: 50%;
                                                                display: inline-block;
                                                            ">
                                                        <img width="35" height="35"
                                                            src="https://kiwimi.oss-ap-southeast-1.aliyuncs.com/emailTemplates/images/11053970_x_logo_twitter_new_brand_icon%201.png" />
                                                    </a>
                                                </td>
                                                <td align="center" style="padding: 0 5px">
                                                    <a href="https://www.youtube.com/@hosabank" style="
                                                                text-decoration: none;
                                                                width: 35px;
                                                                height: 35px;
                                                                background-color: #841912;
                                                                border-radius: 50%;
                                                                display: inline-block;
                                                            ">
                                                        <img width="35" height="35"
                                                            src="https://kiwimi.oss-ap-southeast-1.aliyuncs.com/emailTemplates/images/Component%203.png" />
                                                    </a>
                                                </td>
                                                <td align="center" style="padding: 0 5px">
                                                    <a href="https://www.youtube.com/@hosabank" style="
                                                                text-decoration: none;
                                                                width: 35px;
                                                                height: 35px;
                                                                background-color: #841912;
                                                                border-radius: 50%;
                                                                display: inline-block;
                                                            ">
                                                        <img width="35" height="35"
                                                            src="https://kiwimi.oss-ap-southeast-1.aliyuncs.com/emailTemplates/images/Frame%201000015058.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center">
                            <table align=" center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="max-width: 650px">
                                <tr>
                                    <td align="center">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="center" style="padding: 0 5px; margin-bottom: 15px">
                                                    <div style="
                                                                display: inline-block;
                                                                color: #841912 !important;
                                                                font-size: 12px;
                                                                font-weight: 100;
                                                                text-decoration: none;
                                                            ">
                                                        <a style="color: #841912 !important;"
                                                            href="https://kiwimi.vn/vi/privacy-policy"> Privacy Policy
                                                        </a>|
                                                    </div>
                                                </td>
                                                <td align="center" style="padding: 0 5px; margin-bottom: 15px">
                                                    <div style="
                                                                display: inline-block;
                                                                color: #841912 !important;
                                                                font-size: 12px;
                                                                font-weight: 100;
                                                                text-decoration: none;
                                                            ">
                                                        <a style="color: #841912 !important;"
                                                            href="https://kiwimi.vn/vi/faqs"> Support </a>|
                                                    </div>
                                                </td>
                                                <td align="center" style="padding: 0 5px; margin-bottom: 15px">
                                                    <div style="
                                                                display: inline-block;
                                                                color: #841912 !important;
                                                                font-size: 12px;
                                                                font-weight: 100;
                                                                text-decoration: none;
                                                            ">
                                                        <a style="color: #841912 !important;"
                                                            href="https://kiwimi.vn/vi/courses/explore-all?type=all&pageCount=1&searchKey=">Explore
                                                            More |</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: center">
                            <p style="
                                        margin: 3px 20px;
                                        color: #5e140f !important;
                                        font-weight: bold;
                                        font-size: 10px;
                                        font-weight: bold;
                                        text-decoration: none;
                                    ">
                                <a href="https://edtech-academy.kiwimi.vn/en">kiwimi.vn</a>
                            </p>
                            <p
                                style="margin: 3px 20px; color: #5e140f; font-weight: bold; font-size: 10px; font-weight: 100">
                                Copyright © 2021 Kiwimi, All rights reserved.
                            </p>
                            <p
                                style="margin: 3px 20px; color: #5e140f; font-weight: bold; font-size: 10px; font-weight: 100">
                                P7-35.OT08 Apartment ("Officetel"), Park 7 Vinhomes Central Park, 720A Dien Bien Phu
                                St.,
                            </p>
                            <p
                                style="margin: 3px 20px; color: #5e140f; font-weight: bold; font-size: 10px; font-weight: 100">
                                Ward 22, Binh Thanh Dist, HCM City, Vietnam
                            </p>
                            <p
                                style="margin: 0px 20px; color: #5e140f; font-weight: bold; font-size: 10px; font-weight: bold">
                                +84 985 421 341</p>
                        </td>
                    </tr>
                </table>
                <!-- /Child table -->
            </td>
        </tr>
    </table>
    <!-- / Main table -->
</body>

</html>